<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>


<div class="container">
  <div class='content-area'>
    <h1 class='title'>test title</h1>
    <ul id='selection-items'>
      <li id='item-displayed'>
        <a href='#' class='link'></a>
      </li>
    </ul>
  </div>

<div id='views'></div>


  Select a Quiz:<input type='text'>
  <button>Load API data</button>

  <button class='select-quiz'>Select Quiz</button>



</div>


