<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>


<div class="container" >
  <div class='content-area'>
    <div class='title'></div>
  </div>

  <div id='views'>
    <div class='quiz-list'>
      <h1 class='header'></h1>
      <ul></ul>
    </div>
    <li class='quiz'>
      <a href="#" class='link'></a>
    </li>
  </div>
</div>


